/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConvertorEJBModule/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConvertorEJBModule/dist/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConvertorEJBModule/build/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrenyConversionWebApp/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrenyConversionWebApp/build/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConversion/CurrencyConvertorEJBModule/build/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConversion/CurrencyConvertorEJBModule/dist/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConversion/CurrencyConvertorEJBModule/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConversion/CurrenyConversionWebApp/build/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConversion/CurrenyConversionWebApp/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/Tickets Sale/TicketsSalesEJBModule/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/Tickets Sale/TicketsSalesEJBModule/dist/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/Tickets Sale/TicketsSalesEJBModule/build/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/Tickets Sale/TicketsSaleWebApp/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/Tickets Sale/TicketsSaleWebApp/build/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/ABC Bank Account/AccountTransactionEJBModule/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/ABC Bank Account/AccountTransactionEJBModule/build/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/ABC Bank Account/AccountTransactionEJBModule/dist/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/ABC Bank Account/BankWebApp/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/ABC Bank Account/BankWebApp/build/
/Enterprise-Java-Beans-EJBs-/Stateful Beans/WeDoWebApps/WebTestEJBModule/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Stateful Beans/WeDoWebApps/WebTestEJBModule/build/
/Enterprise-Java-Beans-EJBs-/Stateful Beans/WeDoWebApps/WebTestEJBModule/dist/
/Enterprise-Java-Beans-EJBs-/Stateful Beans/WeDoWebApps/WebTestApp/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Stateful Beans/WeDoWebApps/WebTestApp/build/
/JPA/1. Class List/PersonEJBModule/build/
/JPA/1. Class List/PersonEJBModule/dist/
/JPA/1. Class List/PersonWebApp/nbproject/private/
/JPA/1. Class List/PersonWebApp/build/
/JPA/1. Class List/PersonWebApp/dist/
/JPA/2. Account Holder/AccountHolderEJBModule/nbproject/private/
/JPA/2. Account Holder/AccountHolderEJBModule/dist/
/JPA/2. Account Holder/AccountHolderEJBModule/build/
/JPA/2. Account Holder/AccountHolderWebApp/nbproject/private/
/JPA/2. Account Holder/AccountHolderWebApp/build/
/JQL/Dynamic/1. TestPerformance/TestPerformanceEJBModule/nbproject/private/
/JQL/Dynamic/1. TestPerformance/TestPerformanceEJBModule/build/
/JQL/Dynamic/1. TestPerformance/TestPerformanceEJBModule/dist/
/JQL/Dynamic/1. TestPerformance/TestPerformanceWebApp/nbproject/private/