/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConvertorEJBModule/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConvertorEJBModule/dist/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConvertorEJBModule/build/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrenyConversionWebApp/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrenyConversionWebApp/build/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConversion/CurrencyConvertorEJBModule/build/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConversion/CurrencyConvertorEJBModule/dist/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConversion/CurrencyConvertorEJBModule/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConversion/CurrenyConversionWebApp/build/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConversion/CurrenyConversionWebApp/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/Tickets Sale/TicketsSalesEJBModule/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/Tickets Sale/TicketsSalesEJBModule/dist/
/Enterprise-Java-Beans-EJBs-/Singleton Beans/Tickets Sale/TicketsSalesEJBModule/build/