/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConvertorEJBModule/nbproject/private/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConvertorEJBModule/dist/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrencyConvertorEJBModule/build/
/Enterprise-Java-Beans-EJBs-/Stateless Beans/CurrenyConversionWebApp/nbproject/private/