<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddItemsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetItemsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyItemsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.BuyItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemsServlet</servlet-name>
        <url-pattern>/AddItemsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetItemsServlet</servlet-name>
        <url-pattern>/GetItemsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyItemsServlet</servlet-name>
        <url-pattern>/BuyItemsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/ConfirmOrderServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
