<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentDetailsServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.StudentDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestPreparationServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.TestPreparationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionPreparationServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.QuestionPreparationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAnswerServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.CheckAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecordStdDataServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.RecordStdDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentDetailsServlet</servlet-name>
        <url-pattern>/StudentDetailsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestPreparationServlet</servlet-name>
        <url-pattern>/TestPreparationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionPreparationServlet</servlet-name>
        <url-pattern>/QuestionPreparationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAnswerServlet</servlet-name>
        <url-pattern>/CheckAnswerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordStdDataServlet</servlet-name>
        <url-pattern>/RecordStdDataServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
