<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>clientServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.clientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeLoanServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.TakeLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewApplicantServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.viewApplicantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIndividualLoanStatus</servlet-name>
        <servlet-class>za.ac.tut.controller.GetIndividualLoanStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.ChangeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOutstandingClientsServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.ViewOutstandingClientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.PayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clientServlet</servlet-name>
        <url-pattern>/clientServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeLoanServlet</servlet-name>
        <url-pattern>/TakeLoanServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewApplicantServlet</servlet-name>
        <url-pattern>/viewApplicantServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIndividualLoanStatus</servlet-name>
        <url-pattern>/GetIndividualLoanStatus.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusServlet</servlet-name>
        <url-pattern>/ChangeStatusServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOutstandingClientsServlet</servlet-name>
        <url-pattern>/ViewOutstandingClientsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/PayServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
