<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.AddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTestPerformanceServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.GetTestPerformanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentUsingIDServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.GetStudentUsingIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentUsingNamesServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.GetStudentUsingNamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStudentsUsingAgeServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.GetStudentsUsingAgeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTestPerformanceServlet</servlet-name>
        <url-pattern>/GetTestPerformanceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentUsingIDServlet</servlet-name>
        <url-pattern>/GetStudentUsingIDServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentUsingNamesServlet</servlet-name>
        <url-pattern>/GetStudentUsingNamesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStudentsUsingAgeServlet</servlet-name>
        <url-pattern>/GetStudentsUsingAgeServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
