<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.StartSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionPreparationServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.QuestionPreparationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NameEntryServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.NameEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAnswerServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.CheckAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoiceServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.ChoiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSessionServlet</servlet-name>
        <url-pattern>/StartSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionPreparationServlet</servlet-name>
        <url-pattern>/QuestionPreparationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NameEntryServlet</servlet-name>
        <url-pattern>/NameEntryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAnswerServlet</servlet-name>
        <url-pattern>/CheckAnswerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoiceServlet</servlet-name>
        <url-pattern>/ChoiceServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
